body{
	background-color: black;
	color: white;
}
.container{
	width: 90%;
	margin:auto;
}
.flex{
	display: flex;
}
a{
	text-decoration: none;
	color: white;
}
.right_menu{
	text-align: right;
	width: 80%;
}
.active{
	color: #e93e77;
}
.right_menu a {
	margin-right: 10px;
	font-size: 18px;
}
header{
	padding: 10px;
}
